<!--Elena-->
<section class="details-hotel">
    <div class="container">
        <h2 class="hotel-name">Міміно</h2>
        <h3 class="hotel-title">Готель</h3>
        <p class="hotel-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit.
        </p>
        <div class="room_swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img srcset="./img/homepage-image/room_swiper/room1_274.jpg 1x, 
                    ./img/homepage-image/room_swiper/room1_274_2x.jpg 2x"
                        src="./img/homepage-image/room_swiper/room1_274.jpg" alt="room1">
                </div>
                <div class="swiper-slide">
                    <img srcset="./img/homepage-image/room_swiper/room2_162.jpg 1x, 
                    ./img/homepage-image/room_swiper/room2_162_2x.jpg 2x" src="./img/homepage-image/room_swiper/room2_162.jpg"
                    alt="room2">
                </div>
                <div class="swiper-slide">
                    <img srcset="./img/homepage-image/room_swiper/room3_270.jpg 1x, 
                    ./img/homepage-image/room_swiper/room3_270_2x.jpg 2x"
                        src="./img/homepage-image/room_swiper/room3_270.jpg" alt="room3">
                </div>
            </div>
            <div class="swiper">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            
        </div>
        <div class="buttons">
            <button class="hotel_btnbooking" type="button">Забронювати номер</button>
            <button class="hotel_btnprices" type="button">
                <a href="../../hotel.html">Переглянути ціни</a>
            </button>
        </div>
    </div>
</section>
